
#head {
    display: flex;
    width: 100%;
    background: #6cf;
    height: 100px;
    align-items: center;
}

nav {
    margin-left:400px;
}

/* img {
    position:fixed;
    left: 5%;
    top:10%;
} */
.headerOption
{
    /* position:fixed;
    color: black;
    font-size: 150%; */
}
 #a1,#a2,#a3,#a4 {
   
    color: black;
    font-size: 150%;
    margin: 0px 30px;
    
}

a {
    text-decoration: none;
}
body{
 overflow:hidden
}